@import "tailwindcss";

:root {
  --bg: #fafafa;
  --text: #0f0f0f;
  --muted: #6b6b6b;
  --border: var(--bg);
  --card-bg: #ffffff;
}


.dark {
  --bg: #0F0F0F;
  --text: #F2F2F2;
  --border: #2A2A2A;
  --muted: #a1a1a1;
  --card-bg: #1a1a1a;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
